.App {
    text-align: center;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #f9f9f9 #e5e5e5;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    outline: none;
    border: none;
}

*::-webkit-scrollbar-track {
    background: #f9f9f9;
    border-radius: 5px;
    outline: none;
    border: none;
}

*::-webkit-scrollbar-thumb {
    background-color: #e5e5e5;
    border-radius: 14px;
}
[type='checkbox'] {
    appearance: none;
}
[type='checkbox']:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
}
.gm-style img {
    max-width: 100%;
}

/* create a pulsing marker */
.pulse {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f00;
    animation: pulse 1s infinite;
}

/* create the pulsing animation */

@keyframes pulse {
    0% {
        transform: scale(0.95);
        opacity: 0.7;
    }
    70% {
        transform: scale(1);
        opacity: 0.2;
    }
    100% {
        transform: scale(0.95);
        opacity: 0.7;
    }
}
